:root {

    --main-theme-color: #0284c7;
    --side-theme-color: #f0f9ff;
    --top-bar-color: white;
    --right-space: 50px;
    --header-font-size: 1.2rem;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}


img {
    height: 20px;
    filter:invert(1);
}

.lc-header > img {
    height: 40px;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 6fr;
    }

.left-container-header {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    align-items: center;
}

.left-container {
    background-color: var(--main-theme-color);
    padding-right: 80px;
    color: white;
}

.lc-sidebar{ 
    display: grid;
    gap: 1.4rem;
    margin-left: 20px;
    font-size: 1rem;
    
}
.sidebar-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    background-color: var(--main-theme-color);
    color: white;
    font-size: 1rem;
    font-weight:800;
    cursor: pointer;
}

.sidebar-button:nth-child(7) {
    margin-top: 2rem;
}

.right-container {
    background-color: var(--side-theme-color);
    padding-left: 0px;
    padding-right: 0px;
}


.right-container-top-header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: var(--right-space);
    padding-bottom: 20px;
    background-color: var(--top-bar-color);
}

.right-container-bottom-header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: var(--right-space);
    background-color: var(--top-bar-color);
    box-shadow: 0 5px 5px lightblue;
}

.right-container-top-header-searchbar {
    display: flex;
    width: 55%;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 15px;

    
}
.right-container-top-header-searchbar > img,
.greeting-wrapper > img,
.right-container-top-header-userinfo > img,
.body-item > img,
.project-img-layout > img {
    filter: invert(0);
}

.right-container-top-header-userinfo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    font-weight: 600;
}

.right-container-top-header-userinfo > img:nth-child(2) {
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--main-theme-color);
    background-color: var(--main-theme-color);
    
}

#searchbar {
    border: 0;
    padding-left: 10px;
    background-color:#bfdbfe;
    border-radius: 15px;
    height: 2rem;
    width: 100%;

    &:focus {
        outline:none;
    }
}

.greeting-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.username {
    font-size: 1.5rem;
    font-weight: 600;
}
.greeting-wrapper > img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--main-theme-color);
    background-color: var(--main-theme-color);
}

.actionbar {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.action-button {
    border: none;
    background-color: var(--main-theme-color);
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
}

.right-container-bottom-wrapper {
    padding-left: 20px;
    padding-top: 10px;
    display: grid;
    
    grid-template-columns: 3fr 1fr;
    }

.right-container-bottom-body {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.announce > h1 {
    padding-top: 10px;
    font-size: 1rem;
    line-height: 0rem;
    color: black
}

.announcement-header > h1,
.trending-header > h1,
.projects-header > h1 {
    font-size: var(--header-font-size);
}

.project-item-header > h1 {
    font-size: 1rem;
    color: black;
}

.right-container-bottom-trending {
    margin-top: 10px;
    }
.announcement-body {
    background-color: white;
    width: 300px;
    padding: 20px 40px 15px 40px;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightblue;
    color: rgb(90, 88, 88);

}
.body-item > img {
height: 50px;
border-radius: 50%;
border: 2px solid var(--main-theme-color);
background-color: var(--main-theme-color);
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 3;

}

.body-item {
    display: grid;
    align-items: center;
    height: 70px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10px;

}
.body-header {
    align-self: end;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
    color: black;

}

.body-text {
    font-size: 0.8rem;
    align-self: start;
    color: rgb(90, 88, 88);
    padding-left: 10px;
}

.trending-body {
    background-color: white;
    width: 300px;
    padding: 20px 40px 15px 40px;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px lightblue;
    color: rgb(90, 88, 88);

}

.projects-wrapper {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 350px));
    gap: 20px;
    margin-right: 20px;
    
}

.project-item {
    background: white;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    border-left: 8px solid var(--main-theme-color);
    height: 222px;
    
    box-shadow: 0 5px 5px lightblue;
    color: rgb(90, 88, 88);

}

.right-container-bottom-announcements {
    margin-right: 15px;
}

.project-img-layout {
    display: flex;
    justify-content: end;
    gap: 25px;
    margin-top: 15px;
}

.right-container-bottom-body {
    display: flex;
    flex-direction: column;
    justify-content: left;


}
.right-container-right-part {
    display: flex;
    flex-direction: column;
    justify-content: left;
}