body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    height: 20px;
    filter:invert(1);
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    

}

.lc-header {

    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    align-items: center;

}

.left-container {
    border: 1px solid blue;
    background-color: #60a5fa;
    color: white;
}

.right-container {
    border: 1px solid red;
    background-color: #eff6ff;
}

.lc-sidebar{ 
    display: grid;
    gap: 1rem;
    margin-left: 20px;
    font-size: 1rem;
    
}
.sidebar-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    background-color: #60a5fa;
    color: white;
    font-size: 1rem;
    font-weight:bold;
    cursor: pointer;
    

}

.sidebar-button:nth-child(7) {
    margin-top: 2rem;
}
